h1{
    color: #560bad;
}

/* Podemos aplicar un mismo estilo para distintos elementos */
/* Este estilo aplicará cuando pasemos el puntero sobre el link o cuando
demos click en el link */
a:link, a:visited{
    background-color: #b5179e;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;  /*no se subraya el link*/
    display: inline-block;  /* para que cada boton tenga su propio espacio */
}
/* Vamos a configurar los eventos cuando damos click (activo) y cuando pasas
el cursor del raton encima  */

a:hover, a:active{
    background-color: #f72585;
}