* {
    margin: 0;
    padding: 0;
}
 /* Antes era .titulo, ahora cambia por  */
#titulo_principal {               /* Antes h1 (no olvidar aplicarlo en la hoja html*/
    color: #f72585;
    text-align: center;
    margin: 15px;       /* Ahora definimos un margen especifico para los h1*/
}

h2 {
    color: #3f37c9;
}

p {
    color: #457b9d;
}

.mi_estilo_tarjeta {        /* Antes era div la clase se define con un PUNTO*/
    border: 10px solid; #560bad;
    background-color: #f1faee;
    text-align: center;
    margin: 15px 100px;     /* Agregamos un margen superior e inferior de 15 pixeles
                               y margen izquierdo y derecho de 100 pixeles*/
    padding: 15px;          /* Por último agregamos un padding de 15 pixeles */
}

 /* Creación de una clase */
.titulo_uno {
    color: #f72585;

}
