
/* VAMOS APLICAR ESTILOS */

/* 1)  Este estilo será para el elemento h1                     */
.titulo {
    color: #f72585;
    text-align: center;

}

/* 2)  Vamos a agregar estilos para el iframe                    */
.marco {
    width: 100%;    /* Queremos que ocupe el 100% de la pantalla */
    height: 200px;  /* Una altura de 200 pixeles                 */
    /* border: none;   Si no queremos borde                      */
    /* En caso de querer un borde declaramos las caracteristicas 
       un pixel, del tipo solido y con el color rosa(#f72585     */
    border: 1px solid #f72585;

}

/* Vamos a agregar mejoras visuales a la página */
.centrar {
    text-align: center;
}

/* Para seguir mejorando visualmente vamos a agregar mas elementos */
.boton {
    background-color: white;
    border: 2px solid #457b9d;
    text-decoration: none;
    /* inline-block permite respetar el padding, recordemos que las anclas
    estan dendro de un div, entonces estop permite hacer que se respeten*/
    display: inline-block;  
    padding: 10px;
}

/*  Tambien vamos a configurar para cuando pasemo el puntero sobre el boton 
    ya no va a ser neceario asignarlo a una etiqueta debido a que al declararlo 
    de esta manera es como extender las funcionalidades de la clase, por lo que
    se asigna de forma autómatica, al final es como una extensión de funcionalidades
    a la calse .boton (que se declaro arriba) */

.boton:hover{
    background-color: #457b9d;
    color: white;
}