/* Con el uso de asterisco le estamos diciendo a CSS que queremos que 
TODOS los elementos de nuesra hoja ....
En este caso se indica que no tendran ni margen no padding */
/* Ya posterior podemos definir de forma individual a cada uno de los 
elementos segun se requiera */

* {
    margin: 0;
    padding: 0;
}


/* Cambiamos el estilo de los encabezados h1 */
/* Para TODOS los encabezados h1  h1 { */
/* Pero como estamos viendo el tema de class reemplazamos h1 por una clase*/
.titulo {               /* Antes h1 (no olvidar aplicarlo en la hoja html*/
    color: #f72585;
    text-align: center;
    margin: 15px;       /* Ahora definimos un margen especifico para los h1*/
}

    /* Cambiamos el estilo de los encabezados h2 */
    /* PAra TODOS los encabezados H2 */
h2 {
    color: #3f37c9;
}
    /* CAmbiamos el estilo de los parrafos */
    /* PAra TODOS lo parrafos */
p {
    color: #457b9d;
}

    /* Cambiamos el estilo de los DIV */
    /* Esta es una caracteristica de las etiquetas de bloque, que al ser 
    por linea abarcan todo el ancho de la linea */
    /* div { <<- Cambiamos el elemento div por una clase, y ahora esta clase
    la asociamos dentro del código HTML como si fuera un atributo de la etiqueta*/
.mi_estilo_tarjeta {        /* Antes era div la clase se define con un PUNTO*/
    border: 10px solid; #560bad;
    background-color: #f1faee;
    text-align: center;
    margin: 15px 100px;     /* Agregamos un margen superior e inferior de 15 pixeles
                               y margen izquierdo y derecho de 100 pixeles*/
    padding: 15px;          /* Por último agregamos un padding de 15 pixeles */
}